<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Certificate information</mat-card-title>
      <mat-card-subtitle>Serial number: {{item?.serialNum}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="cert-info-p">
        <b>Issued by:</b> {{item?.issuerCommonName}}
      </p>
      <p class="cert-info-p">
        <b>Issued to:</b> {{item?.subjectCommonName}}
      </p>
      <p class="cert-info-p">
        <b>Valid from </b> {{item?.validFrom}}<b> to </b> {{item?.validTo}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div>
          <button mat-icon-button id="download-button" (click)="downloadCertificate()"
          matTooltip="Download certificate"
          matTooltipPosition="below">
            <mat-icon>save_alt</mat-icon>
          </button>
          <button mat-icon-button id="revoke-button" (click)="openRevokeWarning()"
          matTooltip="Revoke certificate"
          matTooltipPosition="below">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <button mat-icon-button
          matTooltip="Check certificate status"
          matTooltipPosition="below" (click)="checkStatus()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>
    </mat-card-actions>
  </mat-card>

