<h2 mat-dialog-title>Choose Key Usage</h2>
<form [formGroup]="form">

    <mat-dialog-content>
        <div fxLayout="column">
            <mat-checkbox
                matTooltip="TLS Web server authentication"
                matTooltipPosition="left" [(ngModel)]="serverAuth" formControlName="serverAuth">
                ServerAuth
            </mat-checkbox>
            <mat-checkbox matTooltip="TLS Web client authentication" matTooltipPosition="left"
                [(ngModel)]="clientAuth" formControlName="clientAuth">ClientAuth 
            </mat-checkbox>
            <mat-checkbox matTooltip="Code signing" matTooltipPosition="left"
                [(ngModel)]="codeSigning" formControlName="codeSigning">CodeSigning
            </mat-checkbox>
            <mat-checkbox matTooltip="E-mail protection"
                matTooltipPosition="left" [(ngModel)]="emailProtection" formControlName="emailProtection">
                EmailProtection
            </mat-checkbox>
            <mat-checkbox matTooltip="Timestamping"
                matTooltipPosition="left" [(ngModel)]="timeStamping"
                formControlName="timeStamping">TimeStamping
            </mat-checkbox>
            <mat-checkbox matTooltip="OCSPstamping" matTooltipPosition="left"
            [(ngModel)]="ocspSigning" formControlName="ocspSigning">OCSPSigning
            </mat-checkbox>
            <mat-checkbox matTooltip="IP security end system" matTooltipPosition="left"
            [(ngModel)]="ipsecEndSystem" formControlName="ipsecEndSystem">IpsecEndSystem
            </mat-checkbox>

            <mat-checkbox
                matTooltip="IP security tunnel termination"
                matTooltipPosition="left" [(ngModel)]="ipsecTunnel" formControlName="ipsecTunnel">IpsecTunnel
            </mat-checkbox>
            <mat-checkbox
                matTooltip="IP security user"
                matTooltipPosition="left" [(ngModel)]="ipsecUser" formControlName="ipsecUser">IpsecUser
            </mat-checkbox>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Cancel</button>
        <button class="mat-raised-button mat-primary" type="submit"
            (click)="onSubmit()">Save</button>
    </mat-dialog-actions>
</form>