<div id="container-div">
  <button mat-icon-button aria-label="Example icon-button with a heart icon" id="back-button" (click)="back()">
    <mat-icon>keyboard_backspace
    </mat-icon>
  </button>
  <div id="middle-div">
    <div id="content-div">
      <h2>Create certificate</h2>

      <form [formGroup]="createCertificateForm" (ngSubmit)="createCertificate()">
        <div>
          <mat-form-field id="issuer-field">
            <mat-label>Issuer</mat-label>
            <input matInput type="text" formControlName="issuer" readonly>
          </mat-form-field>
          <button mat-flat-button class="in-form-button" (click)="chooseCert()">Choose</button>
        </div>
        <div>
          <mat-form-field class="double-field">
            <input matInput type="date" placeholder="Valid from" name="startDate" formControlName="startDate">
          </mat-form-field>
          <mat-form-field class="double-field right-field">
            <input matInput type="date" placeholder="To" name="endDate" formControlName="endDate">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field id="subject-field">
            <mat-label>Subject</mat-label>
            <mat-select formControlName="subject">
              <mat-option *ngFor="let subject of subjects" [value]="subject"> {{ subject.commonName }} </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button class="in-form-button" (click)="openSubjectDialog()">Create</button>
        </div>
        <div>
          <mat-form-field class="double-field">
            <mat-label>Signature algorithm</mat-label>
            <mat-select formControlName="signatureAlgorithm">
              <mat-option value="SHA256withRSA">
                SHA256withRSA
              </mat-option>
              <mat-option value="SHA384withRSA">
                SHA384withRSA
              </mat-option>
              <mat-option value="SHA512withRSA">
                SHA512withRSA
              </mat-option>
              <mat-option value="SHA256withECDSA">
                SHA256withECDSA
              </mat-option>
              <mat-option value="SHA512withECDSA">
                SHA512withECDSA
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="double-field right-field">
            <mat-label>Public Key Algorithm</mat-label>
            <mat-select formControlName="pubKeyAlgorithm">
              <mat-option value="DSA">
                DSA
              </mat-option>
              <mat-option value="RSA">
                RSA
              </mat-option>
              <mat-option value="EC">
                EC
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Ekstenzije start-->
        <div id="extensions-div">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Extensions
                </mat-panel-title>
                <mat-panel-description>
                  Add extensions to your certificate
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-card class="extension-card">
                <mat-card-header>
                  <mat-card-title><mat-checkbox [(ngModel)]="keyUsageChecked" [ngModelOptions]="{standalone: true}">Key Usage</mat-checkbox></mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="keyUsageChecked">
                  <p>
                    {{ keyUsageDesc }}
                  </p>
                </mat-card-content>
                <mat-card-actions *ngIf="keyUsageChecked">
                  <button mat-button (click)="keyUsageOpen()">EDIT</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="extension-card">
                <mat-card-header>
                  <mat-card-title><mat-checkbox [(ngModel)]="extendedKeyUsageChecked" [ngModelOptions]="{standalone: true}">Extended Key Usage</mat-checkbox></mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="extendedKeyUsageChecked">
                  <p>
                    {{ extKeyUsageDesc }}
                  </p>
                </mat-card-content>
                <mat-card-actions *ngIf="extendedKeyUsageChecked">
                  <button mat-button (click)="extendedKeyUsageOpen()">EDIT</button>
                </mat-card-actions>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!--Ekstenzije kraj-->
        <div id="button-div">
          
          <button mat-flat-button type="submit" id="submit-button">Create certificate</button>
        </div>
      </form>

    </div>
  </div>
</div>