#container-div {
    background-color: #212c35;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

#middle-div {
    margin-top: 6.5vh;
}

#content-div {
    background-color: white ;
    width: 37vw;
    margin:auto;
    min-height: 70vh;
    text-align: center;
    padding: 3vw;
    border-radius: 10px;
    margin-bottom: 10.5vh;
}

button {
    background-color: darkorange;
    color: white;
}

.in-form-button {
    margin-left: 1vw;
    margin-top: 0.6vw;
    width: 6vw;
}

mat-form-field {
    width: 25vw;
    float: left;
}

#serial-number-field {
    width: 8vw;
}

#issuer-field {
    width: 20vw;
    margin-left: 2vw;
}

.double-field {
    width: 17vw;
}

.right-field {
    margin-left: 3vw;
}

#subject-field {
    width: 30vw;
}

button {
    margin-bottom: -3vw;
    border: 1px solid darkorange;
}

#submit-button {
    width: 12vw;
    height: 3vw;
}

button:hover {
    background-color:white;
    color: darkorange;
    border: 1px solid darkorange;
}

#button-div {
    display: block;
    margin-bottom: 5vh;
}

#back-button {
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
}

#extensions-div {
    margin-top: 15vh;
    margin-bottom: 5vh;
}

mat-card p{
    text-align: left;
    margin-left: 20px;
    font-style: italic;
}

.extension-card {
    margin-bottom: 5px;
}

