#container-div {
    background-color: #212c35;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#middle-div {
    margin-top: 4vw;
}

#content-div {
    background-color: white ;
    width: 37vw;
    margin:auto;
    height: 30vw;
    text-align: center;
    padding: 3vw;
    border-radius: 4%;
}

button {
    background-color: darkorange;
    color: white;
}

.in-form-button {
    margin-left: 1vw;
    margin-top: 0.6vw;
    width: 6vw;
}

mat-form-field {
    width: 25vw;
    float: left;
}

#serial-number-field {
    width: 8vw;
}

#issuer-field {
    width: 20vw;
    margin-left: 2vw;
}

.double-field {
    width: 17vw;
}

.right-field {
    margin-left: 3vw;
}

#subject-field {
    width: 30vw;
}

button {
    margin-bottom: -3vw;
}

#submit-button {
    margin-right: 3vw;
    width: 12vw;
    height: 3vw;
}

button:hover {
    background-color:white;
    color: darkorange;
    border: 1px solid darkorange;
}

#button-div {
    display: block;
}

#back-button {
    margin: 0;
    float: left;
}