<mat-card class="example-card">
  <button mat-icon-button aria-label="Delete template" id="delete-button" (click)="delete()"
  matTooltip="Delete template"
  matTooltipPosition="below"
  [matTooltipShowDelay]="500">
    <mat-icon>delete
    </mat-icon>
  </button>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item?.name}}</mat-card-title>
      <mat-card-subtitle>Created: {{item?.timestamp}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p class="cert-info-p">
        <b>Signature Algorithm: </b>{{ item?.signatureAlgorithm }}
      </p>
      <p class="cert-info-p">
        <b>Key Algorithm: </b>{{ item?.keyAlgorithm }}
      </p>
      <p><b>Key Usage:</b></p>
      <div class="usages-div">
      <p><i> {{ keyUsages }} </i></p>
      </div>
      <p><b>Extended Key Usage:</b></p>
      <div class="usages-div">
      <p><i> {{ extendedKeyUsages }} </i></p>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button id="choose-button" (click)="chooseTemplate()" *ngIf="!conflicting">Load</button>
        <button mat-flat-button id="choose-button-conflict" (click)="openWarning()" *ngIf="conflicting"
        matTooltip="This template has Key Usages and/or Extended Key Usages that the currently selected Issuer does not have"
        matTooltipPosition="below">Load</button>
    </mat-card-actions>
  </mat-card>
