h1 {
    text-align: center;
}

template-card {
    display: inline-block;
    margin: 10px 10px 20px 8px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#back-button:hover {
    background-color:white;
    color: darkorange;
    border: 1px solid darkorange;
}

#back-button {
    margin-left: 10px;
    margin-top: 10px;
    position: fixed;
    margin-bottom: -3vw;
    background-color: darkorange;
    color: white;
}