h1 {
    color: white;
    margin-left: 550px;
}

certificate-card {
    display: inline-block;
    margin: 10px 10px 10px 20px;
}

#content-div {
    width: 900px;
    height: 600;
    margin: 0 auto;
}

#container-div {
    background-color: #212c35;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}