h1, h2 {
    color: white;
    text-align: center;
}

certificate-card {
    display: inline-block;
    margin: 10px 10px 20px 20px;
}

#container-div {
    background-color: #212c35;
    height: 100%;
}

button {
    background-color: darkorange;
    color: white;
}

button:hover {
    background-color:white;
    color: darkorange;
    border: 1px solid darkorange;
}

#back-button {
    margin-left: 10px;
    margin-top: 10px;
}

mat-select {
    width: 25vw;
}

