<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Certificate information</mat-card-title>
      <mat-card-subtitle>Serial number: {{item?.serialNum}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p class="cert-info-p">
        <b>Issued to:</b> {{item?.subject}}
      </p>
      <p class="cert-info-p">
        <b>Valid from </b>{{item?.validFrom}} <b> to </b>{{item?.validTo}}
      </p>
      <p><b>Key usage:</b></p>
      <ul>
          <li>Digital singing</li>
          <li>Key ensndsd</li>
          <li>Cert signing</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button id="choose-button" (click)="chooseCertificate()">Choose</button>
    </mat-card-actions>
  </mat-card>
